<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mizoguchi.misaki.mapper.SettingMapper">
    <select id="selectSettingByUserId" resultType="org.mizoguchi.misaki.entity.Setting">
        SELECT * FROM setting
        WHERE user_id = #{userId}
    </select>
    <insert id="insertSetting" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO setting
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="appearance != null">appearance,</if>
                <if test="language != null">language,</if>
                <if test="ttsAutoplay != null">tts_autoplay,</if>
                <if test="fontSize != null">font_size,</if>
                <if test="colorPrimary != null">color_primary,</if>
                <if test="borderRadius != null">border_radius,</if>
                <if test="backgroundImageUrl != null">background_image_url,</if>
                <if test="herName != null">her_name,</if>
                <if test="personality != null">personality,</if>
            </trim>
        VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{user_id},</if>
                <if test="appearance != null">#{appearance},</if>
                <if test="language != null">#{language},</if>
                <if test="ttsAutoplay != null">#{tts_autoplay},</if>
                <if test="fontSize != null">#{font_size},</if>
                <if test="colorPrimary != null">#{color_primary},</if>
                <if test="borderRadius != null">#{border_radius},</if>
                <if test="backgroundImageUrl != null">#{background_image_url},</if>
                <if test="herName != null">#{her_name},</if>
                <if test="personality != null">#{personality},</if>
            </trim>
    </insert>
    <update id="updateSetting">
        UPDATE setting
        <set>
            <if test="appearance != null">appearance = #{appearance},</if>
            <if test="language != null">language = #{language},</if>
            <if test="ttsAutoplay != null">tts_autoplay = #{ttsAutoplay},</if>
            <if test="fontSize !=null">font_size = #{fontSize},</if>
            <if test="colorPrimary != null">color_primary = #{colorPrimary},</if>
            <if test="borderRadius != null">border_radius = #{borderRadius},</if>
            <if test="backgroundImageUrl != null">background_image_url = #{backgroundImageUrl}</if>
            <if test="herName != null">herName = #{her_name},</if>
            <if test="personality != null">personality = #{personality},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>