<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mizoguchi.misaki.mapper.UserMapper">
    <select id="selectUserById" resultType="org.mizoguchi.misaki.entity.User">
        SELECT * FROM user
        WHERE id = #{id} AND delete_flag = 0
    </select>

    <select id="selectUserByEmail" resultType="org.mizoguchi.misaki.entity.User">
        SELECT * FROM user
        WHERE email = #{email} AND delete_flag = 0
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="email != null">email,</if>
                <if test="password != null">password,</if>
                <if test="username != null">username,</if>
                <if test="gender != null">gender,</if>
                <if test="birthday != null">birthday,</if>
                <if test="avatarUrl != null">avatar_url,</if>
                <if test="occupation != null">occupation,</if>
                <if test="detail != null">detail,</if>
                <if test="authRole != null">auth_role,</if>
                <if test="lastLoginTime != null">last_login_time,</if>
            </trim>
        VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="email != null">#{email},</if>
                <if test="password != null">#{password},</if>
                <if test="username != null">#{username},</if>
                <if test="gender != null">#{gender},</if>
                <if test="birthday != null">#{birthday},</if>
                <if test="avatarUrl != null">#{avatar_url},</if>
                <if test="occupation != null">#{occupation},</if>
                <if test="detail != null">#{detail},</if>
                <if test="authRole != null">#{auth_role},</if>
                <if test="lastLoginTime != null">#{last_login_time},</if>
            </trim>
    </insert>

    <update id="updateUserById">
        UPDATE user
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">password = #{password},</if>
            <if test="username != null">username = #{username},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="occupation != null">occupation = #{occupation},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="authRole != null">auth_role = #{authRole},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </set>
        WHERE id = #{id} AND delete_flag = 0
    </update>
</mapper>